SERVER_PORT=8800
DB_URL=jdbc:mysql://localhost:3306/data_structure?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DB_USERNAME=root
DB_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=
UPLOAD_PATH=
UPLOAD_ACCESS_URL=http://localhost:8800/files
MODEL_API_KEY=
MODEL_BASE_URL=
MODEL_NAME=mimo-v2.5
